
@font-face {
    font-family: "NeueMontreal";
    font-weight: normal;
	font-style: normal;
    src: url(../fonts/NeueMontreal-Regular.otf) format('truetype');
}

@font-face {
    font-family: "NeueMontreal";
    font-weight: bold;
	font-style: normal;
    src: url(../fonts/NeueMontreal-Bold.otf) format('truetype');
}

@font-face {
    font-family: "NeueMontreal";
    font-weight: normal;
	font-style: italic;
    src: url(../fonts/NeueMontreal-Italic.otf) format('truetype');
}

@font-face {
    font-family: "NeueMontreal";
    font-weight: bold;
	font-style: italic;
    src: url(../fonts/NeueMontreal-BoldItalic.otf) format('truetype');
}

@font-face {
    font-family: "NeueMontreal";
    font-weight: 300;
	font-style: normal;
    src: url(../fonts/NeueMontreal-Light.otf) format('truetype');
}

@font-face {
    font-family: "Simplon Mono";
    font-weight: normal;
	font-style: normal;
    src: url(../fonts/Simplon\ Mono.ttf) format('truetype');
}
